article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 65px;
  /* fall back px value */
  font-size: 6.5rem;
  text-shadow: 2px 2px 1px #2B2118;
  text-align: center;
  color: #2B2118; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 60px;
      /* fall back px value */
      font-size: 6rem; } }
  @media (max-width: 500px) {
    h1 {
      font-size: 55px;
      /* fall back px value */
      font-size: 5.5rem; } }
  @media (max-width: 320px) {
    h1 {
      font-size: 45px;
      /* fall back px value */
      font-size: 4.5rem; } }

h2 {
  font-size: 40px;
  /* fall back px value */
  font-size: 4rem;
  text-align: center; }
  @media (max-width: 320px) {
    h2 {
      font-size: 30px;
      /* fall back px value */
      font-size: 3rem; } }

body {
  font-size: 22px;
  /* fall back px value */
  font-size: 2.2rem; }
  @media (max-width: 1100px) {
    body {
      font-size: 18px;
      /* fall back px value */
      font-size: 1.8rem; } }

nav {
  color: #e6e5e5;
  font-size: 25px;
  /* fall back px value */
  font-size: 2.5rem; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: gold; }

.cover-page p {
  font-size: 30px;
  /* fall back px value */
  font-size: 3rem; }

@media (max-width: 390px) {
  .cover-page {
    text-align: center; } }

.button {
  font-size: 25px;
  /* fall back px value */
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #2B2118;
  padding: 10px 25px; }
  .button:hover, .button:focus {
    background: gold;
    color: inherit; }
  @media (max-width: 1050px) {
    .button {
      font-size: 22px;
      /* fall back px value */
      font-size: 2.2rem; } }
  @media (max-width: 600px) {
    .button {
      font-size: 18px;
      /* fall back px value */
      font-size: 1.8rem; } }

html {
  font-size: 62.5%;
  font-family: 'Skranji', cursive;
  background: url("../assets/tree_bark.png"); }

nav {
  background: #2B2118;
  margin: 0;
  position: relative; }
  nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav .wrapper .logo {
      width: 50%;
      margin: 0;
      padding: 10px; }
    nav .wrapper .about {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 10px; }

.hidden {
  display: none; }

.dropdown {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 33, 24, 0.8)));
  background: -webkit-linear-gradient(rgba(43, 33, 24, 0.8));
  background: -o-linear-gradient(rgba(43, 33, 24, 0.8));
  background: linear-gradient(rgba(43, 33, 24, 0.8));
  color: #e6e5e5;
  width: 50%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 5%; }
  .dropdown p {
    margin: 0;
    padding: 10px; }
  @media (max-width: 1100px) {
    .dropdown {
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 33, 24, 0.8)));
      background: -webkit-linear-gradient(rgba(43, 33, 24, 0.8));
      background: -o-linear-gradient(rgba(43, 33, 24, 0.8));
      background: linear-gradient(rgba(43, 33, 24, 0.8)); } }

.sources {
  display: none;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 33, 24, 0.8)));
  background: -webkit-linear-gradient(rgba(43, 33, 24, 0.8));
  background: -o-linear-gradient(rgba(43, 33, 24, 0.8));
  background: linear-gradient(rgba(43, 33, 24, 0.8));
  height: 100vh; }
  .sources p {
    margin: 0; }

.sources-link-back {
  display: none; }

.accent {
  color: gold; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto; }

.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.4));
  background: linear-gradient(rgba(255, 255, 255, 0.4));
  border: 1px solid #2B2118;
  height: 55vh;
  -webkit-box-shadow: 5px 5px 0 #2B2118;
  box-shadow: 5px 5px 0 #2B2118; }
  @media (max-width: 1600px) {
    .main {
      width: 70%; } }
  @media (max-width: 1200px) {
    .main {
      width: 85%; } }
  @media (max-width: 890px) {
    .main {
      height: 75vh; } }
  @media (max-width: 550px) {
    .main {
      height: 80vh; } }
  @media (max-width: 600px) {
    .main {
      height: 90vh; } }

.cover-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cover-page h1, .cover-page p, .cover-page img {
    margin: 10px auto; }

.button, input[type="submit"] {
  width: 250px;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 0 #2B2118;
  box-shadow: 2px 2px 0 #2B2118;
  text-align: center;
  background: gold; }
  .button:hover, input[type="submit"]:hover {
    background: #2B2118;
    color: gold;
    -webkit-box-shadow: 2px 2px 0 gold;
    box-shadow: 2px 2px 0 gold; }
  @media (max-width: 1050px) {
    .button, input[type="submit"] {
      width: 200px; } }
  @media (max-width: 390px) {
    .button, input[type="submit"] {
      width: 150px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .form input[type=radio] {
    opacity: 0; }
  .form input:checked + label {
    background: gold;
    border: 1px solid #2B2118; }
  .form label {
    display: inline-block;
    background: #e6e5e5;
    border: 1px solid #2B2118;
    -webkit-box-shadow: 2px 2px 0 #2B2118;
    box-shadow: 2px 2px 0 #2B2118;
    padding: 5px 25px;
    width: 200px; }
  .form input:focus + label,
  .form label:hover {
    background: gold; }
  .form input[type=submit] {
    margin: 0 auto; }

.result img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 50%; }

.result h1, .result img, .result .button {
  margin: 15px auto; }

@media (max-width: 1200px) {
  .result {
    margin: 5px auto; } }

footer .wrapper {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
